.mainPage {
    display: flex;


}
.leftColumn {
    width: 25vw;
    border: 2px white solid;
    overflow: hidden;
    height: 95.25vh;
    background-color: white;
    border-radius: 20px;
    margin: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.laptopImg {
    width: 25vw;
    height: 15vw;
}

.userDetails {
    text-align: center;
    height: 17.5vw;
    width: 80%;
    margin-top: 2vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px dashed black;
}

.buttons {

    height: 10vw;
    margin: 0.75vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    cursor: pointer;
    background-color: black;
    height: 3vw;
    color: white;
    line-height: 3vw;
    width: 17vw;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin-bottom: 3vw;

}



.collapsibleDiv {
    margin: 2vw;
}

.collapsibleHeader {
    background-color: white;


    cursor: pointer;
    border-radius: 10px;
    width: 70vw;
    height: 4vw;

    margin-top: 3vw;
    line-height: 4vw;
    padding-left: 1vw;

}

.collapsibleBody {
    background-color: white;
    border-radius: 10px;
    height: 20vw;
    padding-left: 1vw;
    overflow: scroll;
}


.timesheetList {

    align-self: center;
    height: 87%;
    margin-top: 2vw;
}

.timesheet {
    margin-bottom: 1vw;
    padding-left: 2vw;
    border-radius: 15px;
    height: 4vw;

}

.timesheetDetails {
    line-height: 4vw;

}

.pending {
    background-color: blue;
}

.approved {
    background-color: green;
}

.rejected {
    background-color: red;
}